/* Body */
body {
  margin: 0;
  background-color: #F3F9ED;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* Components*/
/* Nav */
nav {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  background-color: #E2D4B7;
  width: 100%;
}
nav img {
  width: 20px;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.navbar-container a {
  color: black;
  margin-left: 50px;
}

.menuRight {
  display: flex;
  margin-left: 83%;
}
#searchIcon {
  margin-right: -30px;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar-icon {
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebar-items {
  background-color: #E2D4B7;
  color: black;
  width: 80px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebar-item:hover {
  background-color: #E2D4B7;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items vertically in the center */
  background-color: #E2D4B7;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer img {
  width: 10px;
  margin-right: 10px;
}
.firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.secondLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
footer a {
  margin: 0 10px; /* Adjust spacing between links */
  color: black;
}
footer hr {
  height: 5px;
  color: black;
  width: 100%;
}
/* Carousel */
.carousel-div{
  display: flex;
}
.carousel-container{
  display: flex;
}
.card {
  width: 500px;
  height: 495px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  padding: 20px;
  background-color: whitesmoke;
  margin: 5px;
  border-radius: 5px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow img{
  width: 50px;
  height: 50px;
}
#bigFoodPicture img {
  width: 500px;
  height: 340px;
}
.bigCardButtons {
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;
}
.favoriteButton {
  margin-left: 20px;
}


/* Pages*/

/* Home page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#heroImg {
  width: 1180px;
  height: 550px;
}

#heroTitle{
  position: absolute;
  top: 20%;
  left: 47%;
  font-size: xx-large; 
}

#heroText{
  display: flex;
  position: absolute;
  bottom: 32%;
  left: 32%;
  text-align: center;
}

.filter-container {
  margin-bottom: 50px;
}

.filter-container button {
  margin: 10px;
  justify-content: center;
}

#smallCardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}

#smallCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.heartIconContainer {
  display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    align-items: flex-start;
}

.smallCardText{
  color: black;
}

#smallFoodPicture img {
  width: 150px;
  height: 150px;
}

#filterTitle {
  margin-left: 15px;
}

/* recipes */

.containerNewRecipe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 20px;
}

#smallCardRecipes {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}



/* uploadRecipe */
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

form label, input {
  margin-right: 10px;
}