/* Body */
body {
  margin: 0;
  background-color: #F3F9ED;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* Components*/
/* Nav */
nav {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  background-color: #E2D4B7;
  width: 100%;
}
nav img {
  width: 20px;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.navbar-container a {
  color: black;
  margin-left: 50px;
}

.menuRight {
  display: flex;
  margin-left: 83%;
}
#searchIcon {
  margin-right: -30px;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar-icon {
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebar-items {
  background-color: #E2D4B7;
  color: black;
  width: 80px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebar-item:hover {
  background-color: #E2D4B7;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items vertically in the center */
  background-color: #E2D4B7;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer img {
  width: 10px;
  margin-right: 10px;
}
.firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.secondLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
footer a {
  margin: 0 10px; /* Adjust spacing between links */
  color: black;
}
footer hr {
  height: 5px;
  color: black;
  width: 100%;
}
/* Carousel */
/* Pages*/
/* Home page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}
.carousel-div{
  display: flex;
}
.carousel-container{
  display: flex;
}
.card {
  width: 500px;
  height: 495px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  padding: 20px;
  background-color: whitesmoke;
  margin: 5px;
  border-radius: 5px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow img{
  width: 50px;
  height: 50px;
}
#bigFoodPicture img {
  width: 500px;
  height: 340px;
}
.bigCardButtons {
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;
}
.favoriteButton {
  margin-left: 20px;
}


/* Pages*/

/* Home page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#heroImg {
  width: 1180px;
  height: 460px;
}

#heroTitle{
  position: absolute;
  top: 20%;
  left: 47%;
  font-size: xx-large; 
}

#heroText{
  display: flex;
  position: absolute;
  bottom: 40%;
  left: 33%;
  text-align: center;
}

.filter-container {
  margin-bottom: 50px;
}

.filter-container button {
  margin: 10px;
  justify-content: center;
}

#smallCardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}

#smallCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.heartIconContainer {
  display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    align-items: flex-start;
}

.smallCardText{
  color: black;
}

#smallFoodPicture img {
  width: 150px;
  height: 150px;
}

#filterTitle {
  margin-left: 15px;
}

/* recipes */

.containerNewRecipe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 20px;
}

#smallCardRecipes {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}



/* uploadRecipe */
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

form label, input {
  margin-right: 10px;
}

#addRecipeTitle {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* About*/
#about {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.profilePic {
  height: 250px;
  width: 250px;
}


/* Recipes */
.recipes {
  background-color: #F3F9ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 50px;
  width: 100%;
}

#recipePageTitle {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#gridContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#recipesCardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #F3F9ED;
}

#recipeCard {
  width: 380px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

#recipeFoodPicture img {
  height: 200px;
  width: 200px;
}

#recipeName {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#recipeCalories {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#recipeServings {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.labelLowCalories {
  background-color: #BED1CF;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 4px;
}

.labelHighCalories {
  background-color: #E9967A;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 4px;
}

#deleteRecipe {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  border: none;
  background: #808080;
  color: white;
  transition-duration: 0.4s;
}

#deleteRecipe:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

/* Recipe Details */
#recipeDetails {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  margin: 50px;
}

#recipeDetailsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipeDetailsPic {
  height: 500px;
  display: flex;
}

#recipesDetailsInfo {
  display: flex;
  justify-content: center;
}

#detailsBackButton {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  border: none;
  background: #808080;
  color: white;
  transition-duration: 0.4s;
}

#detailsBackButton:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}
